.search-bar {
  text-align: center;
  margin-bottom: 20px;
}
.search-input {
  margin-left: 5px;
  padding: 10px;
  font-size: 15px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.services-container {
    padding:0 20px;
    text-align: center;
    max-width: 1400px;
    margin: 0 auto;
  }
  .service-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    margin-top: 20px;
  }
  .service-card {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
  }
  .service-card:hover {
    transform: translateY(-5px);
  }
  .service-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  .service-price {
    font-weight: bold;
    margin-top: 10px;
  }
  
  .book-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  .back-button{
    background-color: #4a30de;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
    width: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  .back-button:hover{
    background-color: #3717eb;
  }
  .book-button:hover {
    background-color: #218838;
  }
  @media (max-width: 768px) {
    .service-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .service-grid {
      grid-template-columns: 1fr;
    }
  }
  