.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    width:450px;
    background:#fff;
    padding-bottom: 30px;
    border: 1px solid white;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px black;
    animation: login 1s ease-in-out;
}
/* .top {
   back: url('../Assets/login-backgroud.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center; 
} */
.top {
    position: relative;
    height: 100vh; 
    overflow: hidden; 
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}

@keyframes login{
    0% {
        transform: scale(0.3);
        opacity: 0;
    }
    50% {
        transform: scale(1.05);
        opacity: 1;
    }
    70% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:9px;
    width: 100%;
    margin-top: 10px;

}
.text{
    color: blue;
    font-size: 48px;
    font-weight:700;
}
.input img{
    background: transparent;
    width:100px;
    height: 50px;
    margin: 0px 10px;
}
.input i{
    margin-left: 20px;
    color:black;
    font-size: 20px;
    padding: 4px;
    
}
.underline{
    width: 60px;
    height: 6px;
    background: #3c009d;
}
.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap:25px;
}
.input{
    
    display: flex;
    align-items: center;
    margin: auto;
    width:400px;
    height: 40px;
    z-index: 1;
    border-radius: 6px;
}
.back-home-btn{
    margin-top: -320px;
   

}
.btn1{
    
    background-color: #fff;
    border: none;
    margin-top: -210px;
    font-size: 40px;
    margin-left: 390px;
    background: transparent;
  


}
.btn1:hover{
    font-size: 45px;
}
.input input{
    padding: 10px;
    height: 50px;
    width: 400px;
    background: transparent;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
    color:#797979;
    font-size: 20px;
    transition: border-color 0.3s,box-shadow 0.3s;
}
.input input:focus{
    color: #3f3c3c;
    box-shadow: 0px 0px 5px red;
    outline: none;
}
.forget-pass{
padding-left: 60px;
margin-top: 30px;
font-size: 20px;
}
.forget-pass span{
    color:  rgb(237, 93, 93);
    font-style: calc();
    font-size: 20px;
    font-weight:bold;
    text-decoration: underline;
    margin-right: 30px;
    cursor: pointer;
}
.submit-container{
display: flex;
gap:30px;
border:none;
margin:60px auto;
margin-left: 110px;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height: 50px;
    color:white;
    background-color: rgb(224, 16, 16);
    border-radius: 20px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.submit1{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height: 50px;
    color:white;
    background-color: rgb(237, 93, 93);
    border-radius: 20px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.grey{
    background-color: #eaeaea;
    color: #676767;
}
.login-error{
  
    color: red;
    align-items: center;
    font-size: 17px;
    margin-top: -20px;
    
    text-align: center;
}
.login-error1{
   margin-top: -20px;
    color: red;
    font-size: 17px;
   text-align: center;
}
.login-error2{
    margin-top: -20px;
    margin-right: 170px;
    color: red;
    /* font-size: 25px; */
    /* margin-top:10px; */
}
.login-error3{
    color: red;
    align-items: center;
    font-size: 17px;
    text-align: center;
}
.logo-video1{
    display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 100px;
  }
  .video-h1{
    margin-top: -130px;
    width:50px;
    margin-left: 10px;
    font-size: 20px;
    font-family:'sans-serif';
    animation: video-h1 2s linear;
    color: rgb(227, 24, 9);
    font-weight: bolder;
   
  }
  @keyframes video-h1 {
    0%{
    opacity: 0;}
    100%{
      opacity: 1;
    }
    }